{{!-- <header class="header">
        <a href="/" class="logo"><img src="/image/logo.png" alt="Main logo"></a>

      <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/project">Project</a>
            <a href="services">Services</a>

        </nav>
    </header> --}}