<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
      <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    {{!-- {{>navbar}} --}}


     <header class="header">
        <a href="#" class="logo"><img src="/image/logo1.png" alt="Main logo"></a>

      <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
            <a href="/" class="active">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/project">Project</a>
            <a href="/services">Services</a>

        </nav>
    </header>

    {{!-- project section desing --}}

    <section class="project" id="project">
        <h2 class="heading"> Latest <span>Project</span></h2>

        <div class="project-container">
            <div class="project-box">
                <img src="/image/1.jpg" alt="">
                <div class="project-layer">
                    <h3>Web Development</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, quibusdam?</p>
                    <a href="#"><i class='bx bx-link-external' ></i></a>
                </div>
            </div>

            <div class="project-box">
                <img src="/image/2.jpg" alt="">
                <div class="project-layer">
                    <h3>Web Development</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, quibusdam?</p>
                    <a href="#"><i class='bx bx-link-external' ></i></a>
                </div>
            </div>

            <div class="project-box">
                <img src="/image/3.jpg" alt="">
                <div class="project-layer">
                    <h3>Web Development</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, quibusdam?</p>
                    <a href="#"><i class='bx bx-link-external' ></i></a>
                </div>
            </div>

            <div class="project-box">
                <img src="/image/4.jpg" alt="">
                <div class="project-layer">
                    <h3>Web Development</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, quibusdam?</p>
                    <a href="#"><i class='bx bx-link-external' ></i></a>
                </div>
            </div>

            <div class="project-box">
                <img src="/image/5.jpg" alt="">
                <div class="project-layer">
                    <h3>Web Development</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, quibusdam?</p>
                    <a href="#"><i class='bx bx-link-external' ></i></a>
                </div>
            </div>

            <div class="project-box">
                <img src="/image/6.jpg" alt="">
                <div class="project-layer">
                    <h3>Web Development</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, quibusdam?</p>
                    <a href="#"><i class='bx bx-link-external' ></i></a>
                </div>
            </div>
        </div>
    </section>



{{!-- typed js  --}}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>


{{!-- scroll reveal --}}
<script src="https://unpkg.com/scrollreveal"></script>


<script src="/javascript/index.js"></script>
    
</body>
</html>