<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
      <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    {{!-- {{>navbar}} --}}

      <header class="header">
        <a href="#" class="logo"><img src="/image/logo1.png" alt="Main logo"></a>

      <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
            <a href="/" class="active">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/project">Project</a>
            <a href="/services">Services</a>

        </nav>
    </header>

    {{!-- services section design--}}
    <section class="services" id="services">
        <h2 class="heading">Our <span>Services</span></h2>

        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-code-alt'></i>
                <h3>Android Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem doloremque, dolores in asperiores vitae voluptatem odio! Impedit veniam alias ea?</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="services-box">
                <i class='bx bxs-layout'></i>
                <h3>Web Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem doloremque, dolores in asperiores vitae voluptatem odio! Impedit veniam alias ea?</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="services-box">
               <i class='bx bx-slider-alt'></i>
                <h3>Ethical Hacking</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem doloremque, dolores in asperiores vitae voluptatem odio! Impedit veniam alias ea?</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </section>



    {{!-- typed js  --}}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>


{{!-- scroll reveal --}}
<script src="https://unpkg.com/scrollreveal"></script>



<script src="/javascript/index.js"></script>
    
</body>
</html>